<div class="table-panel col-xs-6">
  <div class="button-row row">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.showInfo()">Add</button>
  </div>
  <div class="table-responsive row">
    <table class="table table-bordered table-hover car-table col-xs-12">
      <thead>
        <tr class="row">
          <th class="col-xs-3">Year</th>
          <th class="col-xs-3">Vehicle ID</th>
          <th class="col-xs-3">Name</th>
          <th class="col-xs-3">Model</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row car" ng-repeat="auto in $ctrl.autos track by auto.vehicleID" ng-click="$ctrl.editCar(auto)">
          <td>{{auto.year}}</td>
          <td>{{auto.vehicleID}}</td>
          <td>{{auto.carName}}</td>
          <td>{{auto.model}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>