<div class="info-panel col-xs-5">
  <div class="button-row row">
    <button type="button" class="btn btn-primary col-xs-2 col-xs-offset-10" ng-click="$ctrl.hidePane()">Close</button>
  </div>
  <div class="row">
    <div class="tab-name col-xs-3" ng-click="$ctrl.showMain = true;" ng-class="{'active': $ctrl.showMain != false}">
      Info
    </div>
    <div class="tab-name col-xs-3" ng-click="$ctrl.showMain = false" ng-class="{'active': $ctrl.showMain == false}">
      Additional
    </div>
  </div>
  <form ng-submit="$ctrl.saveDetails($ctrl.car)">
  <div class="row">
    <div class="tab col-xs-12">
      
        <div class="info-tab" ng-show="$ctrl.showMain">
          <div class="form-group col-xs-7">
            <label for="vehicleId" class="sr-only">VehicleId</label>
            <input type="text" class="form-control" ng-model="$ctrl.car.vehicleID" id="vehicleId" placeholder="VehicleId" required pattern="[A-Za-z0-9]{1,20}">
          </div>
          <div class="form-group col-xs-7">
            <label for="name" class="sr-only">Name</label>
            <input type="text" class="form-control" ng-model="$ctrl.car.carName" id="name" placeholder="Name" required pattern="[A-Za-z0-9]{1,15}">
          </div>
          <div class="form-group col-xs-7">
            <label for="model" class="sr-only">Model</label>
            <input type="text" class="form-control" ng-model="$ctrl.car.model" id="model" placeholder="Model" required pattern="[A-Za-z0-9]{1,15}">
          </div>
        </div>
        <div class="additional-tab" ng-hide="$ctrl.showMain">
          <div class="form-group col-xs-7">
            <label for="year" class="sr-only">Year</label>
            <input type="text" class="form-control" ng-model="$ctrl.car.year" id="year" placeholder="Year" required pattern="[0-9]{4}">
          </div>
          <div class="form-group col-xs-7">
            <label for="vehicle-type" class="sr-only">Vehicle type</label>
            <select class="form-control" id="vehicle-type" ng-model="$ctrl.car.type" required>
              <option value="">None</option>
              <option value="Minivan">Minivan</option>
              <option value="Sedan">Sedan</option>
              <option value="Bus">Bus</option>
            </select>
          </div>
          <div class="form-group col-xs-7">
            <label for="comments" class="sr-only">Comments</label>
            <textarea class="form-control" rows="3" ng-model="$ctrl.car.comments" id="comments"></textarea>
          </div>
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary col-xs-2 col-xs-offset-5">Save</button>
  </form>
</div>