<div class="container">
	<div class="row">
		<car-table on-switch="$ctrl.switchInfo()" autos="$ctrl.autos" on-edit="$ctrl.editCar(carId)"></car-table>
		<car-info ng-if="$ctrl.showInfo" on-switch="$ctrl.switchInfo()" car="$ctrl.car" on-save="$ctrl.saveInfo(car)"></car-info>
	</div>
</div>