body {
  margin: 15px 0 0 30px;
  background-color: #fafafa;
}

th {
  text-align: center;
}

.table-panel {
  margin-right: 30px;
}

.table {
  border: 0.5px solid #376094;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #376094;
   vertical-align: middle;
}

.button-row {
  margin-bottom: 10px;
}

.tab-name {
  height: 50px;
  border: 2px solid #376094;
  border-bottom: 0px;
  text-align: center;
  line-height: 50px;
  border-collapse: collapse;
  position: relative;
  left: 15px;
  cursor: pointer;
  color: #376094;
}

.tab-name.active {
  color: #FFF;
  background-color: #376094;
}

.tab-name:hover {
  background-color: #efefef;
}

.tab-name.active:hover {
  background-color: #376094;
}

.tab-name:first-child {
  border-right-width: 0px;
}

.car-table th {
  height: 50px;
}

.tab {
  margin-bottom: 10px;
  padding-top: 15px;
  height: 500px;
  border: 2px solid #376094;
}
